
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}

    <link rel="icon" href="favicon.ico">

    <title>六合彩</title>

    <link href="{% static 'lottery/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'lottery/css/navbar.css' %}" rel="stylesheet">

    {% block load_css %} {% endblock %}
    
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand {% block home_active %}{%endblock%}" href="/lottery/admin/home/">后台管理平台</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="{% block order_active %}{%endblock%}" ><a href="/lottery/admin/order/">订单管理</a></li>
              <li class="{% block round_active %}{%endblock%}"><a href="/lottery/admin/round/">期数管理</a></li>
              <li class="{% block user_active %}{%endblock%}"><a href="/lottery/admin/user/">用户管理</a></li>
              <li class="{% block temaset_active %}{%endblock%}"><a href="/lottery/admin/temaset/">特码设置</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="{% block set_active %}{%endblock%}"><a href="#">个人设置</a></li>
              <li><a href="#">退出</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <div class="container-fluid">
        {% block load_content %} {% endblock %}
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    {% block load_js %} {% endblock %}
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->
  </body>
</html>
